# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="0/Xzr1quhkA71NFBPtMcluxG9yFBUisKq0P/lbGv6i8="

# Next Auth Discord Provider
DISCORD_CLIENT_ID="1165344314050752614"
DISCORD_CLIENT_SECRET="tbh36zaiocyQEjbw-6pQbGegIRt7oScC"
GOOGLE_CLIENT_ID="449064341570-i7kmdsgr267vn4ajqsd3hncsks44luut.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
NEXT_PUBLIC_WEATHER_KEY="1edbab99c1fb2df723deb6b7c9da0e68"
